@font-face
  font-family: "Bloody"
  src: url("fonts/BLOODY.ttf")


@font-face
  font-family: "Caviar Dreams"
  src: url("fonts/CaviarDreams.ttf")


@font-face 
  font-family: "Caviar Dreams Bold"
  src: url("fonts/Caviar_Dreams_Bold.ttf")


@font-face 
  font-family: "Permanent Marker"
  src: url("fonts/PermanentMarker.ttf")


@font-face
  font-family: "Shlop"
  src: url("fonts/SHLOP.ttf")

@font-face
  font-family: "Archistico Bold"
  src: url("fonts/Archistico_Bold.ttf")


@font-face
  font-family: "Archistico Simple"
  src: url("fonts/Archistico_Simple.ttf")


@font-face
  font-family: "Oswald"
  src: url("fonts/oswald/Oswald-Regular.ttf")


@font-face
  font-family: "Oswald Light"
  src: url("fonts/oswald/Oswald-Light.ttf")

